* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  max-width: 100%;
  height: auto;
} */

body {
  background-color: #f5f7fa;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background-color: #fff;
  display: flex;
  /* font-size: 0; */
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75em;
  color: #ffffff;
}

.myphoto {
  width: 370px;
  /* height: 494px; */
  animation: hinge; 
  animation-delay: 1s;
  position: absolute;
}



#slice {
  width: 370px;
  height: 493px;
  position: relative;
  /* top: -493px; */
}

#slice img {
  width: 100%;
  height: auto;
  opacity: 0;
}

#slice div {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  /* transform: rotateY(-50deg) scale(0.5); */
  /* transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  transform-origin: bottom;
  /* opacity: 0; */
  animation: animate 0.75s ease-in-out forwards;
}

#slice.active div {
  opacity: 1;
  transform: rotateY(0deg) translateY(0);
  transition-delay: 0.5s;
}

#slice div:nth-child(even) {
  animation: animate 1s ease-in-out forwards;
}
#slice div:nth-child(7n + 3) {
  animation: animate 2.5s ease-in-out forwards;
}
#slice div:nth-child(7n + 7) {
  animation: animate 1.5s ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0) translateY(1000px);
  }
  50% {
    opacity: 1;
    
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    
  }
}



.menu {
  margin-left: 40px;
  list-style: none;
  background: #fff;
  margin-right: 40px;
  padding: 20px;
  border-radius: 3px;
}

.menu a {
  color: #595959;
  font-weight: 700;
}

.contacts {
  padding-top: 3px;
  padding-left: 40px;
  padding-right: 40px;
}

.title-white {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contacts-link {
  color: #ffffff;
  opacity: 0.5; 
  letter-spacing: 0.42px;
  text-decoration: underline;
}

.contacts-link-type {  
  font-weight: 700;
  margin-right: 5px;
}

.title-white+ul>li {
  margin-left: 15px;
  color:#ff6b08;
}

.title-white+ul>li>span {
  /* color: #fff; */
  color: #1e2939;
}

.main {
  padding: 110px 90px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  word-break: break-all;
  word-wrap: break-word;
}

h1,h2,.h3,h4 {
  color: #000;
  font-weight: 700;
}

h1 {
  font-size: 45px;  
  line-height: 89px;
}

p {
  width: 56%;/*413px;*/
}

.projects {
  margin-top: 64px;
}

ol {
  margin-top: 12px;
  color: #000;
  font-weight: 700;
}

.projects a,.projects span {
  color: #595959;
  font-weight: 400;
  
}

.projects a:hover, 
.menu a:hover, 
.company a:hover {
  text-decoration: none;
}

.work-experience,.education {
  margin-top: 52px;
}

.h3 {
  font-size: 22px;
}

.company {
  margin-top: 30px;
}

h4 {
  font-size: 16px;
  letter-spacing: 0.48px;
}

h4>span,
h4>span>a,
.place-edu {
  color: #ff6b08;
}

.company>span,.education>span {
  color: #a8a8a8;
  font-size: 12px;
  letter-spacing: 0.36px;
  margin-top: 14px;
}

.company ul, ol {
  padding-left: 15px;
}

.place-edu {
  font-size: 16px;
  margin-top: 21px;
}

.link-block {
  margin-top: 30px;
}

.link-block__link {
  display: block;
  color: #000;
}

.special {
  font-size: 14px;
  margin-top: 15px;
}

.ui-helper-reset {
  line-height: 1.75;
  list-style-type: disc;
}

@media (max-width: 1199.98px) { /* desktop */
  p {
    width: 100%;
  }
}

@media (max-width: 991.98px) {  /* tablet */
  .main {
    padding: 60px 30px;
  }

  .projects li {
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {  /* small devices */
  body {
    padding: 0;
  }

  .main {
    padding: 30px 10px;
  }
}

@media (max-width: 575.98px) {  /* phones */
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .myphoto {
    display: block;
    margin: 0 auto 30px;
  }

  h1 {
    font-size: 36px;
  }
}

@media (max-width: 370px) {
  .myphoto {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 333px) {
  .ui-accordion .ui-accordion-content {
    padding: 1em 1.5em;
  }
}

.slo h1 {
  font-size: 45px;
  line-height: 50px;
}

.imagine {
  width: 100%;
}